.header-box {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .home, .testimonials, .subscriptions, .app-page, .about-us, .contact {
    display: inline-block;
    width: auto;
    font-size: 13px;
    padding: 0 4vh; 
    text-decoration: none;
    color: black;

  }

body {
    background-color: rgba(241,245,247,255);
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.title {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
}
.text {
    font-size: 13px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 40px;
    color: rgba(66, 73, 73, 255);
}
.app-store, .google-play {
    width: 12%;
    height: 11%;
    margin-top: 1%;
    cursor: pointer;
}
.app-store {
    margin-left: 36%;
}

.google-play {
    margin-left: 3%;
}

.phone-app {
    width: 20%;
    height: 20%;
    position: relative;
    bottom: 0%;
    padding-bottom: 0%;
    margin-left: 40%;
    margin-top: 3%
}
