<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/css/about-us.css">
<html>
    <body>
        <header>
            <div class="header-box">
                <a href="{{ url_for('index') }}" class="home">HOME</a>
                <a href="{{ url_for('testimonials') }}" class="testimonials">TESTIMONIALS</a>
                <a href="{{ url_for('app_page') }}" class="app-page">APP</a>
                <a href="{{ url_for('about_us') }}" class="about-us">ABOUT US</a>
                <a href="{{ url_for('contact') }}" class="contact">CONTACT</a>
            </div>
        </header>
    <div class="center-box">
        <h1 class="title">Who are we?</h1>
        <p class="subtitle">Our dynamic team comprises a dedicated Product Manager steering 
            the project's vision, a meticulous Business Analyst ensuring precise requirements, 
            a creative UX Designer shaping the user experience, a vigilant Quality Assurance 
            Specialist guaranteeing product excellence, and a skilled group of Developers bringing 
            innovation and functionality to life. Together, we synergize diverse expertise to drive 
            the success of our projects.</p>
        <div class="pfp-container">
            <img src="static/images/Sreya.jpg" alt="Profile Picture" class="pfp" data-target="#item1">
            <img src="static/images/Nitya.jpg" alt="Profile Picture" class="pfp" data-target="#item2">
            <img src="static/images/Brandon.jpg" alt="Profile Picture" class="pfp" data-target="#item3">
            <img src="static/images/Karem.jpg" alt="Profile Picture" class="pfp" data-target="#item4">
            <img src="static/images/Heshen.jpg" alt="Profile Picture" class="pfp" data-target="#item5">
            <img src="static/images/Christine.jpg" alt="Profile Picture" class="pfp" data-target="#item6">
        </div>
        <div class="carousel">
            <div class="carousel-item active" id="item1">
                <img src="static/images/Sreya.jpg" alt="Profile Picture" class="larger-pfp">
                <p class="name">Sreya Kambhatla</p>
                <p class="job-title">Project Manager</p>
                <p class="job-desc">Our esteemed project manager Sreya brings a wealth of 
                    experience to our team, seamlessly blending leadership and innovation. 
                    With a keen eye for detail and excellent communication skills, she spearheads 
                    our redesign project with efficiency and a collaborative spirit. Her dedication 
                    ensures a smooth and successful transition, creating a user-centric website for Park Company..</p>
            </div>
            <div class="carousel-item" id="item2">
                <img src="static/images/Nitya.jpg" alt="Profile Picture" class="larger-pfp"> 
                <p class="name">Nitya	Ramachandran</p>
                <p class="job-title">User Experience</p>
                <p class="job-desc">Our skilled UX designer Nitya is a visionary in crafting 
                    seamless and delightful user experiences for our website redesign. With a keen 
                    understanding of user behavior, she transforms concepts into intuitive designs 
                    that elevate our project. Her creative flair and user-centric approach contribute 
                    to the creation of an aesthetically pleasing and user-friendly platform for Park Company.</p>
            </div>
            <div class="carousel-item" id="item3">
                <img src="static/images/Brandon.jpg" alt="Profile Picture" class="larger-pfp"> 
                <p class="name">Brandon Hill</p>
                <p class="job-title">Business Analyst</p>
                <p class="job-desc">Our insightful business analyst Brandon plays a pivotal 
                    role in our website redesign, translating business needs into actionable 
                    insights. With a strategic mindset, he analyzes data and processes, providing 
                    valuable recommendations for improvement. His ability to bridge the gap between 
                    technical and business requirements ensures the success of Park Company's digital 
                    transformation, aligning our goals with optimal outcomes.</p>
            </div>
            <div class="carousel-item" id="item4">
                <img src="static/images/Karem.jpg" alt="Profile Picture" class="larger-pfp"> 
                <p class="name">Karem Baz</p>
                <p class="job-title">Quality Assurance</p>
                <p class="job-desc">Our dedicated quality assurance professional Karem is a meticulous 
                    guardian of our website's functionality and performance. Armed with a keen eye for detail, 
                    he systematically ensures that every aspect of the redesign project meets rigorous quality 
                    standards. His commitment to thorough testing and problem resolution contributes to the 
                    seamless and error-free experience we aim to deliver for Park Company's digital presence.</p>
            </div>
            <div class="carousel-item" id="item5">
                <img src="static/images/Heshen.jpg" alt="Profile Picture" class="larger-pfp"> 
                <p class="name">Heshen Liu</p>
                <p class="job-title">Developer</p>
                <p class="job-desc">Our talented developer Heshen is a coding maestro, bringing technical 
                    expertise and innovation to the forefront of our website redesign endeavor. With a sharp 
                    problem-solving acumen, he navigates intricacies and contributes to the project's technical 
                    brilliance. His commitment to efficient coding and collaborative teamwork ensures the success 
                    of Park Company's digital evolution.</p>
            </div>
            <div class="carousel-item" id="item6">
                <img src="static/images/Christine.jpg" alt="Profile Picture" class="larger-pfp"> 
                <p class="name">Christine Chukwunyere</p>
                <p class="job-title">Developer</p>
                <p class="job-desc">Our accomplished developer Christine is a coding virtuoso, 
                    infusing creativity and precision into our website redesign project. 
                    With a strong analytical mindset, she tackles complex challenges and contributes 
                    to the project's technical excellence. Her commitment to quality coding and 
                    collaboration ensures a cutting-edge, responsive design for Park Company's digital transformation.</p>
            </div>

        </div> 
        <button id="prev"><img src="/static/images/left-arrow.png" alt="&lt"></button>
        <button id="next"><img src="/static/images/right-arrow.png" alt="&gt"></button>
    </div>
    <script src="/static/scripts/about-us.js"></script>
    </body>
</html>
