<!DOCTYPE html>
<link rel="stylesheet"  type="text/css" href="/static/css/app-page.css">
<html>
    <body>
        <header>
            <div class="header-box">
                <a href="{{ url_for('index') }}" class="home">HOME</a>
                <a href="{{ url_for('testimonials') }}" class="testimonials">TESTIMONIALS</a>
                <a href="{{ url_for('subscriptions') }}" class="subscriptions">SUBSCRIPTIONS</a>
                <a href="{{ url_for('app_page') }}" class="app-page">APP</a>
                <a href="{{ url_for('about_us') }}" class="about-us">ABOUT US</a>
                <a href="{{ url_for('contact') }}" class="contact">CONTACT</a>
            </div>
        </header>
        <h1 class="title">Download the future</h1>
        <p class="text">Don't forget to download our ParkCo app available now on
             the Apple App Store and Google Play Market for all Android and Apple devices!</p>
        <img class="app-store" src="/static/images/app-store.png"/>
        <img class="google-play" src="/static/images/google-play.png"/>
        <img class="phone-app" src="/static/images/phone-app.png"/>
    </body>
</html>